.header-wrapper {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chats-body {
  background-image: url("../images/chatBg.png.png");
  min-height: 200vh;
}

.chats-body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  display: flex;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0px;
  border: none;
  padding: 20px 60px;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
  border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.chat__icon-left {
  position: absolute;
  left: 15px;
}

.chat__icon-right {
  position: absolute;
  right: 20px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write .chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  width: 100%;
  padding: 20px 10px;
  border: none;
  font-size: 14px;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  border-radius: 40px;
  
  transform: translateY(-50px);
  -webkit-box-shadow: 0px 15px 24px -6px rgba(84,66,84,0.64);
  -moz-box-shadow: 0px 15px 24px -6px rgba(84,66,84,0.64);
  box-shadow: 0px 15px 24px -6px rgba(84,66,84,0.64); 0.9);
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
}

.message {
  display: flex;
  align-items: flex-start;
}

.chat__incoming-message {
  align-self: flex-start;
}

.chat__incoming-message img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.chat__sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  margin-top: 5px;
  background-color: white;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  border-radius: 30px;
}

.message__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.message__author {
  font-size: 12px;
  font-weight: 600;
}

.chat__incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #67b26f, #4ca2cd);
  color: white;
  font-weight: 600;
}

.chat__sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #67b26f, #4ca2cd);
  color: white;
  font-weight: 600;
}
